<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Graphs</title>
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css'
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
          integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById('typeChart').getContext('2d');
            var myschoolChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for type, _, i in material_type %} '{{ type }}'.replace('&amp;', '&'),  {% endfor %}],
                    {#labels: [{% for pos, _ in position %} '{{ pos }}', {% endfor %}],#}
                    {#labels: [{% for firm in qs %} '{{ firm.name }}', {% endfor %}],#}
                    {#labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],#}
                    datasets: [{
                        label: '# Amount',
                        data: [{% for _, amount, i in measure_init %} {{ amount }}, {% endfor %}],
                        {#data: [12, 19, 3, 5, 2, 3],#}
                        backgroundColor: 'rgb(234,169,105)',
                        borderWidth: 1
                    },
                    {
                        label: '# Cost',
                        data: [{% for _, i, cost in measure_init %} {{ cost }}, {% endfor %}],
                        {#data: [12, 19, 3, 5, 2, 3],#}
                        backgroundColor: 'rgb(137,142,217)',
                        borderWidth: 1
                    },
                    ]
                },
                options: {
                    title: {
                                display: true,
                                text: 'Cost and Amount for material type',
                                fontSize: '20'
                            },
                     legend:{
                        display: true
                    },

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,

                            },
                        }],

                    },

                    plugins: {
                          datalabels: {
                            align: 'center',

                            color: 'black',
                          }
                        }
                },
            });
        })

    </script>

 <script>
        $(document).ready(function () {
            var ctx = document.getElementById('uidChart').getContext('2d');
            var myschoolChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for type, _, i in measure_init %} '{{ type }}'.replace('&amp;', '&'),  {% endfor %}],
                    {#labels: [{% for pos, _ in position %} '{{ pos }}', {% endfor %}],#}
                    {#labels: [{% for firm in qs %} '{{ firm.name }}', {% endfor %}],#}
                    {#labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],#}
                    datasets: [{
                        label: '# Amount',
                        data: [{% for _, amount, i in measure_init %} {{ amount }}, {% endfor %}],
                        {#data: [12, 19, 3, 5, 2, 3],#}
                        backgroundColor: 'rgb(153,126,184)',
                        borderWidth: 1
                    },
                    {
                        label: '# Cost',
                        data: [{% for _, i, cost in measure_init %} {{ cost }}, {% endfor %}],
                        {#data: [12, 19, 3, 5, 2, 3],#}
                        backgroundColor: 'rgb(102,168,105)',
                        borderWidth: 1
                    },
                    ]
                },
                options: {
                    title: {
                                display: true,
                                text: 'Cost and Amount for measure init',
                                fontSize: '20'
                            },
                     legend:{
                        display: true
                    },

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,

                            },
                        }],

                    },

                    plugins: {
                          datalabels: {
                            align: 'center',

                            color: 'black',
                          }
                        }
                },
            });
        })

    </script>
<style>
   button :hover {
    background-color: #978f87;

   }
  </style>

</head>
<body>
<div style="text-align: center; justify-content: center; margin-top: 50px;">
    <h1 >Graphs</h1>
        <a href=" http://localhost:3000/"><button style="cursor: pointer; padding: 15px 22px; border: 2px solid #e7e7e7;
background-color: #e7e7e7; border-radius: 10px; transition-duration: 0.4s;">
            View data in Metabase
        </button></a>

</div>


<div style="display: flex; margin-top: 30px">
    <div style="width: 60%; height: 40%">
        <canvas id="typeChart" width="800" height="400"></canvas>
    </div>
    <div style="width: 40%; height: 40%">
        <table  style="margin-top: 200px; margin-left: 30px; border-collapse: collapse;width: 90%;   top: 10%; left: 10%">
                    <thead>

                    <tr style="padding: 1px">
                        <th style="padding: 1px; border: 1px solid #bfbfbf;">
                            <div class="text">material_type</div>
                            <div class="clear"></div>
                        </th>
                            <th style="padding: 1px;  border: 1px solid #bfbfbf;">
                            <div class="text">material_name</div>
                            <div class="clear"></div>
                        </th>
                        <th style="padding: 1px;  border: 1px solid #bfbfbf;">
                            <div class="text">cost</div>
                            <div class="clear"></div>
                        </th>
                        <th style="padding: 1px;  border: 1px solid #bfbfbf;">
                            <div class="text">amount</div>
                            <div class="clear"></div>
                        </th>

                    </tr>
                    </thead>
                        <tbody>

                            {% for row in material_type_data %}
                                <tr style="padding: 1px; vertical-align: center;">
                                    <th class="field-get_full_name" style="padding: 1px; vertical-align: center; white-space: nowrap; font-size: 12px; border: 1px solid #bfbfbf;">
                                        {{ row.material_type }}
                                    </th>
                                    <td class="" style="text-align: center;font-size: 12px; padding: 1px; vertical-align: center;  color: #020202; border: 1px solid #bfbfbf;">
                                        {{ row.material_name }}
                                    </td>
                                    <td class="" style="text-align: center;font-size: 12px; padding: 1px; vertical-align: center;  color: #020202; border: 1px solid #bfbfbf;">
                                        {{ row.cost }}
                                    </td>
                                    <td class="" style="text-align: center;font-size: 12px; padding: 1px; vertical-align: center;  color: #020202; border: 1px solid #bfbfbf;">
                                        {{ row.amount}}
                                    </td>

                                </tr>
                        {% endfor %}
                        </tbody>
                </table>
    </div>
</div><div style="display: flex; margin-top: 50px ">
    <div style="width: 60%; height: 40%">
        <canvas id="uidChart" width="800" height="400"></canvas>
    </div>
    <div style="width: 40%; height: 40%">
        <table  style="margin-top: 200px; margin-left: 30px; border-collapse: collapse;width: 90%;   top: 10%; left: 10%">
                    <thead>

                    <tr style="padding: 1px">
                        <th style="padding: 1px; border: 1px solid #bfbfbf;">
                            <div class="text">measure_type</div>
                            <div class="clear"></div>
                        </th>
                            <th style="padding: 1px;  border: 1px solid #bfbfbf;">
                            <div class="text">short_name</div>
                            <div class="clear"></div>
                        </th>
                        <th style="padding: 1px;  border: 1px solid #bfbfbf;">
                            <div class="text">cost</div>
                            <div class="clear"></div>
                        </th>
                        <th style="padding: 1px;  border: 1px solid #bfbfbf;">
                            <div class="text">amount</div>
                            <div class="clear"></div>
                        </th>

                    </tr>
                    </thead>
                        <tbody>

                            {% for row in measure_data %}
                                <tr style="padding: 1px; vertical-align: center;">
                                    <th class="field-get_full_name" style="padding: 1px; vertical-align: center; white-space: nowrap; font-size: 12px; border: 1px solid #bfbfbf;">
                                        {{ row.measure_type }}
                                    </th>
                                    <td class="" style="text-align: center;font-size: 12px; padding: 1px; vertical-align: center;  color: #020202; border: 1px solid #bfbfbf;">
                                        {{ row.short_name }}
                                    </td>
                                    <td class="" style="text-align: center;font-size: 12px; padding: 1px; vertical-align: center;  color: #020202; border: 1px solid #bfbfbf;">
                                        {{ row.cost }}
                                    </td>
                                    <td class="" style="text-align: center;font-size: 12px; padding: 1px; vertical-align: center;  color: #020202; border: 1px solid #bfbfbf;">
                                        {{ row.amount}}
                                    </td>

                                </tr>
                        {% endfor %}
                        </tbody>
                </table>
    </div>
</div>
</body>
</html>