<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some</title>
</head>
<body>

<div style="text-align: center; margin-top: 200px">
    <h1>Hi!</h1>
    <p></p>
    <h3>You can load CSV files from Google Cloud Bucket</h3>
    <p></p>
    <h3>And denormilize Material records with adding columns "shor_name" and "kind"</h3>

    <a href="{% url 'api:denormilize' %}"><button style="cursor: pointer; padding: 15px 22px; border: 2px solid #e7e7e7;
background-color: #e7e7e7; border-radius: 10px; transition-duration: 0.4s;">Denormilize data</button></a>

</div>
</body>
</html>