<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some</title>
    <style>
        .button {
            cursor: pointer;
            padding: 15px 22px;
            border: 2px solid #e7e7e7;
            background-color: #e7e7e7;
            border-radius: 10px;
            transition-duration: 0.4s;
            margin-bottom: 20px;
            margin-top: 20px;
            text-decoration:none;
        }

        .button:hover {
            opacity: 1;
            background-color: #a39385;
            color: azure
        }
    </style>
</head>
<body>

<div style="text-align: center; margin-top: 200px">
    <h1>Hi!</h1>
    <p></p>
    <h4 style="font-size: 28px;">After clicking button will be loaded CSV files from Google Cloud Bucket.</h4>
    <p></p>
    <h4 style="margin-bottom: 50px; font-size: 28px">And will be denormalize Material records with adding columns "short_name" and "kind"</h4>
    <p></p>
    <a class="button" href="{% url 'api:denormilize' %}">Denormalize data</a>

</div>
</body>
</html>